*~
dataX
dataX/*
examples/
examples/*
README copy.md
.DS_Store
code/data/
code/data/*
code/env/
code/env/*
code/2018*
code/__pycache__/
code/__pycache__/*
code/output/
code/output/*
code/target/
code/target/*
code/*.class
code/*.pyc
nohup.out
code/wiki.en.top.words
code/translate.pyX
code/ted+wipo.test.oovs.ko
code/SCALE-2018/ted+wipo.test.oovs.ko
code/SCALE-2018/ko.preprocessed-webcrawl.split.normalized.tok.vec
code/SCALE-2018/ko-en.dict.tok.norm.only_single_word_entries
code/results.txt
code/nohup.out
code/languagesdata.txt
code/ko.preprocessed-webcrawl.split.normalized.tok.vec
code/ko.json
code/interlanguage.txt
code/foreignIds.txt
code/englishwordslemma.txt
code/englishIds.txt
code/en.vec
code/demo/Results/ko/translations.txt
code/debug.log
code/data.tar.gz
code/convertMatrix.py
code/BVector.txt
code/BPR-ko.conf
code/convertMatrix.py
code/convertMatrix.py
code/results.txt
code/demo/
code/demo/*
code/all.devtest.oovs.tok.ko
code/ko-en.dict.tok.norm.only_single_word_entries
code/ko.vec
code/ko.words
code/results.txt
code/results.txt
